{{#if this.swiper}}
  {{yield (hash header=(component 'swiper/content' self=this.swiper))}}
{{/if}}
<div
  id={{this.elementId}}
  class="swiper-container"
  ...attributes
  {{did-insert this._initializeOptions}}
  {{did-update this._updateOptions this._componentOptions}}
  {{will-destroy this._destroyOptions}}
>
  <div class="swiper-wrapper">
    {{yield (hash slide=(component 'swiper/slide'))}}
  </div>
  {{#if @navigation}}
    {{yield (hash navigation=(component 'swiper/navigation'))}}
  {{/if}}
  {{#if @pagination}}
    {{yield (hash pagination=(component 'swiper/pagination'))}}
  {{/if}}
  {{#if @scrollbar}}
    {{yield (hash scrollbar=(component 'swiper/scrollbar'))}}
  {{/if}}
</div>
{{#if this.swiper}}
  {{yield (hash footer=(component 'swiper/content' self=this.swiper))}}
{{/if}}